<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040662140972-gp51vdna05jv490or4n67vshk7sr1mat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040662140972-gp51vdna05jv490or4n67vshk7sr1mat</string>
	<key>API_KEY</key>
	<string>AIzaSyB0Fi5SaW5ML1vN1r_gpEF0MSQe-Rvcqko</string>
	<key>GCM_SENDER_ID</key>
	<string>1040662140972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swiftfulthinking.SwiftfulFirebasePackagesExample</string>
	<key>PROJECT_ID</key>
	<string>swiftfulfirebasepackages</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfulfirebasepackages.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040662140972:ios:2d9d31144f46dc613e9989</string>
</dict>
</plist>